.footer{
    background-color: #bbbbbb;
    .links{
        text-align: center;
        text-decoration: none;
    }

    .social-media{
        text-align: center;
        text-decoration: none;
    }
}