.project-title,
.project-summary,
.project-details{
    text-align: center;
}

.project-title{
    padding: 20px 0;
}

.project-summary{
    padding: 10px 0;
}

.project-details{
    padding: 5px 0;
}