body{
    background-color: #bbbbbb!important;
    width: 100% !important;
    &:-webkit-scrollbar{
        display: none;
    }
}

h1{
    font-size: 20pt;

    &:before{
        content: "<";
        display: inline-block;
    }

    &:after{
        content: "/>";
    }
}

h2{
    font-size: 16pt;
    font-weight: 700;

    &:after{
        content: "()";
    }
}