<div class="container-fluid">
    <div class="row project">
        <div class="col-sm-6 col-xs-12" [hidden]=!photoLeft>
            <grid-images></grid-images>
        </div>
        <div class="col-sm-6 col-xs-12">
            <project-info [projectTitle]="projectTitle" [projectSummary]="projectSummary" [projectDetails]="projectDetails"></project-info>
        </div>
        <div class="col-sm-6 col-xs-12" [hidden]=photoLeft>
            <grid-images></grid-images>
        </div>
    </div>
</div>